<p>productos works!</p>
<div class="col-md-5" *ngFor='let lista of prod'>
  <div class="card text-center"  >
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="icon-verano"></div>
          <mat-card-title>{{lista.nombre}}</mat-card-title>
          <mat-card-subtitle>{{lista.nombre}}</mat-card-subtitle>
        </mat-card-header> 
          <mat-card-content>
            <!--<img src="./../../../../assets/brunamulti.jpg" class="card-img-top">-->
            <img [src]="lista.imagen" class="card-img-top">
           <!--<p >{{lista.idproducto}}</p>--> 
            <p [appResaltar]='color'> {{lista.descripcion}}</p>
            <p>{{lista.precio}}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button  class="btn btn-success" >Editar</button>
            <button mat-button class="btn btn-danger"(click)="eliminar(lista.idproducto)">Eliminar</button>
          </mat-card-actions>
      </mat-card> 
  <!--  <img [src]="" class="card-img-top">
    <div class="card-body">
      <p>{{lista.descripcion}}</p>
      <p>{{lista.precio}}</p>-->
   
  </div>
</div>
<!--<div class="container fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card ">
        <div class="card-body">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="icon-verano"></div>
              <mat-card-title>Bruna Multi</mat-card-title>
              <mat-card-subtitle>cód Bruna multi</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/brunamulti.jpg" width="100"  alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
              Descripción:
             Talles:{{talles}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button class="btn btn-success">editar</button>
              <button mat-button class="btn btn-danger">eliminar</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="icon-verano"></div>
              <mat-card-title>BIRK CROCO CELESTE</mat-card-title>
              <mat-card-subtitle>BIRK CROCO CELESTE</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/BIRKCROCOCELESTE.jpg" alt="Photo of a Shiba Inu">
           
            <mat-card-content>
              <p>
              descripcion
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button class="btn btn-success">editar</button>
              <button mat-button class="btn btn-danger">eliminar</button>
            </mat-card-actions>
          </mat-card>     
        </div>
    
      </div>

    </div>
  </div> 
</div>

-->


