.example-card {
    width: auto;
    max-width: 300px;

  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .icon-verano {
    background-image: url('/assets/iconverano.jpg');
    background-size: cover;
  }
  .icon-trash{
    background-image: url('/assets/trash.jpg');
    background-size: cover;
  }