<p>productos works!</p>
<div class="container fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card ">
        <div class="card-body">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="icon-verano"></div>
              <mat-card-title>Bruna Multi</mat-card-title>
              <mat-card-subtitle>cód Bruna multi</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/brunamulti.jpg" width="100"  alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
              Descripción:
             Talles:{{talles}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button class="btn btn-success">editar</button>
              <button mat-button class="btn btn-danger">eliminar</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="icon-verano"></div>
              <mat-card-title>BIRK CROCO CELESTE</mat-card-title>
              <mat-card-subtitle>BIRK CROCO CELESTE</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/BIRKCROCOCELESTE.jpg" alt="Photo of a Shiba Inu">
           
            <mat-card-content>
              <p>
              descripcion
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button class="btn btn-success">editar</button>
              <button mat-button class="btn btn-danger">eliminar</button>
            </mat-card-actions>
          </mat-card>     
        </div>
    
      </div>

    </div>
  </div> 
</div>

   


