
  .body{
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #e7e2e1
  }
  .login-form {
    min-width: 350px;
    max-width: 500px;
    width: 100%;
  }
  .login-form button {
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
  }
  
  .full-width {
    width: 100%;
  }
  
  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  @media ( min-width: 768px ) {
    .grid-divider {
        position: relative;
        padding: 0;
    }
    .grid-divider>[class*='col-'] {
        position: static;
    }
    .grid-divider>[class*='col-']:nth-child(n+2):before {
        content: "";
        border-left: 1px solid #DDD;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .col-padding {
        padding: 0 15px;
    }
}