.navbar{
    text-align: right;
    font-size: medium;
    color: aliceblue;
}
.navbar img{
   width:70px;
   height:70px;
   border-radius:150px;
   border:2px solid rgb(244, 69, 250);
}

.navbar form{
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: center;
}