<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container" >
        <a href="/principal" class="navbar-brand">
            <img src="assets/logojuliet.jpg" width="55" alt="">
        </a> 
        
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav me-auto ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/principal">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/productos">Productos</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link disabled" routerLink="/nuevo">Editar</a>
                </li>
                <li class="nav-item ">  
                    <a class="nav-link " *ngIf="mostrarlink()" routerLink="/login">login</a>
                </li>
                
                <li class="nav-item ">  
                    <a class="nav-link"  *ngIf="!mostrarlink()" (click)='cerrarSesion()' routerLink="principal">Cerrar sesión</a>
                </li>

            </ul>
        </div>
        <!--
    <form class="d-flex" style="height: auto; width: 40%; font-size: 15px;">
        <input class="form-control me-sm-7" type="search" name="nombre" [(ngModel)]='nombre'  placeholder="buscar..." aria-label="Buscar">
        <button class="btn btn-success my-4 my-sm-0" (click)='buscar(nombre)' type="button">Buscar</button>
    </form>  
    -->             
</div>
   
</nav>

