<p>login works!</p>

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/logojuliet.jpg" id="icon" alt="10px" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="usuario" [(ngModel)]="usuario.usuario" placeholder="usuario">
        <input type="password" id="password" class="fadeIn third" name="clave" [(ngModel)]="usuario.clave" placeholder="clave">
        <input type="submit" class="fadeIn fourth" (click)="logeo()" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Registrate!</a>
      </div>
      <div id="formFooter">
        <a class="underlineHover" href="#">Recuperar Password?</a>
      </div>
  
    </div>
  </div>
