<p>login works!</p>

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/logojuliet.jpg" id="icon" alt="10px" />
      </div>
  
      <!-- Login Form -->
     <!--<form [formGroup]="formLogin" (ngSubmit)="logeo()"> --> 
      <form class="form-group" >
        <input type="text" id="login" class="fadeIn second" name="usuario" [(ngModel)]="usuario.usuario" placeholder="usuario">
        <input type="password" id="password" class="fadeIn third" name="clave" [(ngModel)]="usuario.clave" placeholder="clave">
        <input type="button"  (click)="logeo()"class="fadeIn fourth" value="Log In">
       
        <!-- <input type="text" id="login" class="fadeIn second" formControlName="usuario"  placeholder="usuario" required>
        <input type="password" id="password" class="fadeIn third"  formControlName="clave" placeholder="clave">
        <input type="submit" class="fadeIn fourth"  [disabled]="formLogin.invalid" value="Log In">
      -->
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="nuevo">Registrate!</a>
      </div>
      <div id="formFooter">
        <a class="underlineHover" href="**">Recuperar Password?</a>
      </div>
  
    </div>
</div>
